[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tcssikh
[access "refs/for/refs/*"]
	read = group user/tcssikh
	push = group user/tcssikh
	label-Code-Review = -2..+2 group user/tcssikh
	label-Verified = -1..+1 group user/tcssikh
	rebase = group user/tcssikh
	removeReviewer = group user/tcssikh
	submit = group user/tcssikh
[access "refs/heads/*"]
	read = group user/tcssikh
	create = group user/tcssikh
	push = +force group user/tcssikh
	pushMerge = group user/tcssikh
[access "refs/tags/*"]
	push = +force group user/tcssikh
	pushTag = group user/tcssikh
	pushSignedTag = group user/tcssikh
